.employees {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.employee {
   background-color: rgb(241, 207, 235); 
   border: 1px solid black;
   padding: 0.9rem;
   color: rgb(24, 21, 21);
   border-radius: 6px;
   font-size: 16px;
}
.employeeHeader {
    text-align: center;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.employee__header {
    font-size: larger;
    font-weight: 700;
    line-height: 3rem;
}
.employee__footer {
    margin: 1rem 0 0.25rem 0;
    font-style: oblique;
}
.employee-section {
    width: 20%;
    margin-top: 50px;
}