.customers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.customer {
   background-color: rgb(195, 240, 224); 
   border: 1px solid black;
   padding: 0.9rem;
   color: rgb(24, 21, 21);
   border-radius: 6px;
   font-size: 16px;
}
.customerHeader {
    text-align: center;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.customer__header {
    font-size: larger;
    font-weight: 700;
    line-height: 3rem;
}
.customer__footer {
    margin: 1rem 0 0.25rem 0;
    font-style: oblique;
}
.customer-section {
    width: 20%;
    margin-top: 50px;
}
